.upload-button-user {
  width: 150px;
  height: 50px;
  margin-left: 1.5rem;

}

.avatar-field {
  display: flex;
  align-items: center;
}


.avatar-usersettings {

  width: 150px;
  height: 150px;

}