<div class="dashboard-link-grid">
  <div class="dashboard-links">
    <i class="fas fa-home"></i>
    <a href="/dashboard" class="icon-title">Home</a>
  </div>
  <div class="dashboard-links">
    <i class="fas fa-mail-bulk"></i>
    <a href="/dashboard-your-posts" class="icon-title">Your Posts</a>
  </div>
  <div class="dashboard-links">
    <i class="fas fa-plus-circle"></i>
    <a href="/dashboard-posts" class="icon-title">Add Post</a>
  </div>
  <div class="dashboard-links">
    <i class="fas fa-user"></i>
    <a href="/dashboard-usersettings" class="icon-title">User Settings</a>
    <p class="icon-title"></p>
  </div>
  <div class="dashboard-links">
    <i class="fas fa-sign-out-alt"></i>
    <a href="/logout" class="icon-title">Log Out</a>
    <p class="icon-title"></p>
  </div>

</div>