<footer class="main-footer">
  <div class="f-bar-one">
    <div class="f-box-one">
      <ul class="f-link-box">
        <li class="f-link-title">BLOG DOCS</li>
        <li class="f-link">Terms</li>
        <li class="f-link">Licenses</li>
        <li class="f-link">API</li>
        <li class="f-link">Affliliate</li>
      </ul>
      <ul class="f-link-box">
        <li class="f-link-title">HELP</li>
        <li class="f-link">Authors</li>
        <li class="f-link">Help Center</li>
        <li class="f-link">Forums</li>
      </ul>
      <ul class="f-link-box">
        <li class="f-link-title">CONTACT</li>
        <li class="f-link">Send us a message</li>
        <li class="f-link">Privacy Policy</li>
        <li class="f-link">Location</li>
      </ul>
    </div>
    <div class="f-box-two">
      <div class="f-logo">
        <img src="/img/BackgroundLogo1DB954.png" alt="">
        <p>BLOG TEMPLATE.io</p>
      </div>
      <div class="f-numberdiv">
        <div class="f-n-con1">
          <strong>56,663,442</strong>
          <p>Items Posted</p>
        </div>
        <div class="f-n-con2">
          <strong>£776,956,941</strong>
          <p>Authors Paid<p>
        </div>
      </div>
    </div>
  </div>


  <div class="f-bar-two">
    <div class="f-box-three">
      <div class="f-bread">
        <a href="#">Sitemap</a>
        <a href="#">Careers</a>
        <a href="#">Privacy Policy</a>
      </div>
      <p>All prices are in GBP</p>
      <p>&COPY; 2019 Blog Template Ltd. Trademarks and brands are the property of their respective owners.</p>
    </div>
    <div class="f-box-four">
      <a href=""><i class="fab fa-slack-hash"></i></a>
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-github"></i></a>
    </div>
  </div>
  </div>
</footer>

<script src="/js/alerts.js"></script>
<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/396c2cb1a5.js"></script>