<% if (success_message != '') { %>
<div class="alert alert-success"><%=success_message%><i class="close-btn far fa-window-close"></i></div>
<% } %>

<% if (error_message != '') { %>
<div class="alert alert-failure"><%=error_message%><i class="close-btn far fa-window-close"></i></div>
<% } %>