<%- include('partials/head.ejs') %>

<body>

  <%- include('partials/navigation.ejs') %>


  <div class="sign-in-grid">
    <div class="card login-card">
      <h3>Password Reset</h3>
      <p>Enter your the email address that you used to register. We'll send you an email with your username and a link
        to reset your password.</p>

      <%- include('partials/messages.ejs') %>
      <form action="/reset-password" class="signin-form" method="POST">
        <input class="form-input" type="text" id="email" name="email" placeholder="Enter your username/email">
        <button type="submit" class="btn-dark">Reset Password</button>
      </form>
    </div>
    <div class="login-links">
      <a href="/signup">Create a new account</a>
      <a href="/login">Login</a>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>

</body>

</html>