<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog Homepage</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <header class="nav">
    <div class="logo">
      <img src="./dist/img/mountain-1849091_640cropped.png" alt="">
      <h3 class="logo_name"><span>BLOG</span>TEMPLATE</h3>
    </div>
    <div class="navi">
      <div class="nav-links">
        <a class="nav-text" href="/login"">Log In</a>
        <a class=" nav-text" href="/signup">Sign Up</a>
        <div class="nav-social">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="burger">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
      </div>
    </div>
  </header>

  <div class="wrapper" style="height:60vh">
    <h3>A great success</h3>
  </div>


  <footer class="main-footer">
    <div class="f-bar-one">
      <div class="f-box-one">
        <ul class="f-link-box">
          <li class="f-link-title">BLOG DOCS</li>
          <li class="f-link">Terms</li>
          <li class="f-link">Licenses</li>
          <li class="f-link">API</li>
          <li class="f-link">Affliliate</li>
        </ul>
        <ul class="f-link-box">
          <li class="f-link-title">HELP</li>
          <li class="f-link">Authors</li>
          <li class="f-link">Help Center</li>
          <li class="f-link">Forums</li>
        </ul>
        <ul class="f-link-box">
          <li class="f-link-title">CONTACT</li>
          <li class="f-link">Send us a message</li>
          <li class="f-link">Privacy Policy</li>
          <li class="f-link">Location</li>
        </ul>
      </div>
      <div class="f-box-two">
        <div class="f-logo">
          <img src="./dist/img/mountain-1849091_640cropped.png" alt="">
          <p>BLOG TEMPLATE.io</p>
        </div>
        <div class="f-numberdiv">
          <div class="f-n-con1">
            <strong>56,663,442</strong>
            <p>Items Posted</p>
          </div>
          <div class="f-n-con2">
            <strong>£776,956,941</strong>
            <p>Authors Paid<p>
          </div>
        </div>
      </div>
    </div>


    <div class="f-bar-two">
      <div class="f-box-three">
        <div class="f-bread">
          <a href="#">Sitemap</a>
          <a href="#">Careers</a>
          <a href="#">Privacy Policy</a>
        </div>
        <p>All prices are in GBP</p>
        <p>&COPY; 2019 Blog Template Ltd. Trademarks and brands are the property of their respective owners.</p>
      </div>
      <div class="f-box-four">
        <a href=""><i class="fab fa-slack-hash"></i></a>
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-github"></i></a>
      </div>
    </div>
    </div>
  </footer>

  <script src="/js/main.js"></script>
  <script src="https://kit.fontawesome.com/396c2cb1a5.js"></script>
</body>

</html>