.height {
  height: 60vh;
}

.avatar {
  border-radius: 50%;
  width: 4em;
}

.avatar-large {

  border-radius: 50%;
  width: 6em;
}


.avatar-small {

  border-radius: 50%;
  width: 2.5em;
}

.avatar-usersettings {
  border-radius: 50%;
  margin-left: 1rem;
}